*{
    font-family: sans-serif;
}
@media all and (max-width:575px) {
    .download-app {
        height: 120vh;
    }
    .download-app-button {
    height: 52px;
    }
    .download-app-button{
        width: 80vw;
    }
    .download-app-img {
    width: 90%;
    margin: 30px auto;
    }   
    
    .divofIll div img {
        width: calc(40px + 2vw);
        height: calc(40px + 2vw);
    }
    .rewardsAll {
        background-color: #ededed;
        height: 80vh;
    }
                .rewards1 {
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    width: 100%;
                    height: 50%;
                }
                .rewards2 {
                    margin: 0;
                    padding: 0;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    width: 100%;
                    height: fit-content;
                }
        .valuesDiv {
            width: 98%;
            height: fit-content;
        }
}
@media all and (min-width:576px) and (max-width:767px) {
    .download-app {
        height: 120vh;
    }
    .download-app-button {
        height: 52px;   
    }
    .download-app-button {
        width: 80vw;
    }
    .download-app-button {
        width: 80vw;
    }
    .download-app-img {
        width: 90%;
        margin: 30px auto;
    }
    .divofIll div img {
        width: 80px;
        height: 80px;
    }
    .rewardsAll {
        background-color: #ededed;
        height: 80vh;
    }
                .rewards1 {
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    width: 100%;
                    height: 50%;
                }
                .rewards2 {
                    margin: 0;
                    padding: 0;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    width: 100%;
                    height: fit-content;
                }
                .valuesDiv {
                    width: 98%;
                    height: fit-content;
                }
}
@media all and (min-width:768px) and (max-width:991px) {
    .download-app {
        height: 85vh;
    }
    .download-app-button {
        height: 68px;
    }
    .download-app-img {
        width: 40%;
        margin: 90px auto;
    }
     .download-app-button {
        width: 40%;
    }
    .download-app-div {
        width: 45%;   
    }
    .download-app-div {
        margin-top: 150px;
    }

    .divofIll div img {
        width: 80px;
        height: 80px;
    }
    .rewardsAll {
        background-color: #ededed;
        height: 80vh;
    }
                .rewards1 {
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    width: 100%;
                    height: 50%;
                }
                .rewards2 {
                    margin: 0;
                    padding: 0;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    width: 100%;
                    height: fit-content;
                }
                .valuesDiv {
                    width: 98%;
                    height: fit-content;
                }
}
@media all and (min-width:991px) {
    .download-app {
        height: 85vh;
    }
    .download-app-button {
        height: 68px;
    }
    .download-app-img {
        width: 40%;
        margin: 90px auto;
    }

    .download-app-button {
        width: 40%;
    }
    .download-app-div {
        width: 45%;   
    }
    .download-app-div {
        margin-top: 150px;   
    }
    .divofIll div img {
        width: 95px;
        height: 95px;
    }
    .rewardsAll {
        background-color: #ededed;
        height: 50vh;
    }
                .rewards1 {
                    border-bottom-left-radius: 15px;
                    border-top-left-radius: 15px;
                    width: 100%;
                }
                .rewards2 {
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    width: 100%;
                    height: 50vh;
                }
    .rewards11{
        order: 2;
    }
        .valuesDiv {
            width: 98%;
            height: fit-content;
        }
}
.navbar{
    z-index: 999;
    height: 50px;
}
.i1_navbar{
    color: #ff5b35;
}
.logo_div_navbar:hover .logo_navbar{
    color: #ff5b35;
}
.logo_div_navbar:hover .i1_navbar {
    color: black;
}
.nav-button-gradient{
    width: 130px;
    height: 40px;
    border-radius: 30px;
    background-image: linear-gradient(to left,#ff5b35,orange);
}
.nav-link-p:hover{
    color: #ff5b35;
}
.nav-button-gradient:hover{
    background-color: black;
}
.nav-link-p{
    font-size: calc(6px + 0.6vw);
}
.ads-part{
    width: 100%;
    height:calc(30px + 3vw );
    background-image: url(../img/header-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1000;
}
.download-app{
    width: 100%;
    height: fit-content;
    background-color: #f6f8f8;
}
.download-app-img{
    background-image: url(../img/hero.webp);
    background-position: center;
    background-size: cover;
    height: 60vh;
    border-radius: 50px;
}
.download-app-button{
    border-radius: 50px;
    margin: 30px auto;
    border: 3px solid;
}
.nav-button-gradient:hover{
    filter: brightness(80%);
}
.titleService{
    height: fit-content;
    width: 100%;
    margin-top:20px ;
    padding-right: 50px;
    /* background-color: #ff5b35; */
    font-size: calc(16px + 2vw);
}
.divofIll div img{
    opacity: 0.5;
}
.divofIll div img:hover {
    opacity: 1;
    cursor: pointer;
}
.rewards1 {
    background-image: url(../img/section-driver.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.solutionButton {
    width: fit-content;
    color: white;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    border-radius: 100px;
    border: 1px solid white;
}
.rewards11{
    background-image: url(../img/section-corporate.webp);
}

.bigdivgandill{
    background-color: #f8f0ed;
}
.rewards22 {
    background-image: url(../img/section-install.webp);
}
.solutionButton22{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.solutionButton21 {
    background-image: linear-gradient(to left, #ff5b35, orange);    color: black;
}



.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.card-image img {
    width: 100%;
    height: auto;
    display: block;
}

.card-text {
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

@media (min-width: 992px) {
    .container {
        flex-direction: row;
    }
}

@media (max-width: 991px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}

.bottomofsite ul{
    list-style-type: none;

}
@media (max-width: 991px) {
    .navbar .container {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        flex-direction: row-reverse !important;
    }

    .navbar-toggler {
        order: 1;
    }

    .navbar-brand {
        order: 2;
    }
}@media (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 0px;
        right: 0;
        width: 100%;
        background-color: white;
        z-index: 999;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.box {
    background-color: #f2f2f2;
    padding: 30px;
    border: 1px solid #ccc;
    flex: 1;
    height: 60vh;
}
@media (max-width: 991px) {
    .container {
        flex-direction: row;
    }
        .box {
            background-color: #f2f2f2;
            padding: 30px;
            border: 1px solid #ccc;
            flex: 1;
            width: 100vw;
        }
}

@media (min-width: 991px) {
    .container {
        flex-direction: row;
    }
}
.box2{
    background-image: url(../img/servicea/1.webp);
        background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
}
.box21 {
    background-image: url(../img/servicea/1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.box22 {
    background-image: url(../img/servicea/2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box23 {
    background-image: url(../img/servicea/3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box24 {
    background-image: url(../img/servicea/4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box25 {
    background-image: url(../img/servicea/5.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box26 {
    background-image: url(../img/servicea/6.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}